@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply no-underline hover:no-underline;
  }

/* Ocultar Swiper en desktop */
@media (min-width: 768px) {
  .product-swiper { display: none; }
}

/* Ocultar la galer铆a de escritorio en m贸viles */
@media (max-width: 767px) {
  .desktop-gallery { display: none; }
}

/*  Ocultar la secci贸n del cup贸n en el checkout */
.woocommerce-form-coupon-toggle {
  display: none !important;
}

/* Ocultar el t铆tulo y descripci贸n del sitio que WordPress inserta autom谩ticamente */
.site-title,
.site-description {
  @apply hidden;
}

